.wrapper-containerTypeProPage {
  min-height: 684px;
  height: fit-content;

  .row-type {
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    width: 100%;
    background-image: linear-gradient(to right, #b1f1ff, #e2ed71, #4ff68a);
    margin-bottom: 5px;
  }

  .row-content {
    position: relative; // có định các thẻ position nằm bên trong
    background-image: url("../../assets/images/bgr-image/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 5px;
    padding: 8px 0;
    min-height: 645px;
    height: fit-content;

    .card-Comp {
      padding: 0 120px;
      display: flex;
      justify-content: flex-start;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 17px;

      .loading-product {
        font-size: 2.2rem;
        color: blue;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -75%);
      }
    }
  }
}
