.wrapper-containerTypeProPage {
  padding: 0 120px;
  min-height: 684px;
  height: fit-content;

  .row-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    width: 100%;
    background-image: linear-gradient(to right, #b1f1ff, #e2ed71, #4ff68a);
    margin-bottom: 5px;
  }

  .row-content {
    position: relative; // có định các thẻ position nằm bên trong
    background-color: var(--background-header-inner);
    width: 100%;
    padding-top: 5px;
    border: 1px solid var(--text-color);
    padding: 8px 0;
    min-height: 645px;
    height: fit-content;

    .card-Comp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 17px;

      .loading-product {
        font-size: 2.2rem;
        color: blue;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -75%);
      }
    }

    .pagination {
      // đưa thẻ div 'pagination' xuống cuối cùng của thẻ div cha (phải phụ thuộc vào 'position: relative' ở thẻ cha)
      position: absolute;
      bottom: 0;
      width: 100%;

      // css bình thường
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c3c3c3;
    }
  }
}
