.wrapper-proDetailPage {
  width: 100%;
  padding: 0 120px;
  background-image: linear-gradient(to right, #b1f1ff, #e2ed71, #4ff68a);

  .breadcrumb ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
    background-image: linear-gradient(to right, #b1f1ff, #e2ed71, #4ff68a);
    padding-left: 10px;
    border: 1px solid darkgray;
    margin-bottom: 5px;

    li {
      display: flex;
      text-transform: capitalize;
      font-size: 1.55rem;

      p {
        &:hover {
          cursor: pointer;
          color: var(--blue);
          text-decoration: underline;
        }
      }
    }

    li + li:before {
      margin: 0 10px;
      color: black;
      content: ">";
    }
  }

  .wrapper-productDetailComp {
    height: 100%;
  }
}
