.wapper-adminOrderComp {
  padding: 3px 5px;

  .right-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-image: linear-gradient(to right, #8afad1, #b7dcff, #fdf142);
    margin-bottom: 5px;

    h3 {
      display: flex;
      font-size: 2rem;
      color: var(--text-color);

      svg {
        margin-right: 8px;
        font-size: 30px;
      }
    }

    button {
      display: flex;
      background-color: white;
      border: 1px solid blue;
      border-radius: 8px;
      padding: 8px 20px;
      margin-right: 5px;
      font-size: 1.6rem;

      svg {
        font-size: 18px;
        margin-right: 5px;
      }

      &:hover {
        cursor: pointer;
        color: blue;
        box-shadow: 0 0 10px blue;
      }
    }
  }

  .constainer-chart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 5px;

    .wrapper-chart {
      position: relative;
      margin-left: 10px;
      box-shadow: 0 0 5px blue;
      border-radius: 8px;
      width: 250px;
      height: 240px;

      .title {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #c1c1c1;
        padding: 8px;
        font-size: 1.6rem;
        color: blue;
        text-align: center;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
    }
  }

  .right-content-table {
    height: fit-content;
  }
}
