.wrapper-containerHomePage {
  margin: 0 120px;
  background-color: var(--background);

  .wrapper-typeProductComp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid red;
    background-color: #e9e9e9;
  }

  .wrapper-homePage {
    margin-top: 30px;
    border-top: 1px solid var(--primary);

    .wrapper-cardPage {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 10px 0;
      gap: 20px;

      .card-empty {
        display: grid;
        justify-items: center;
        margin-bottom: 10px;

        span {
          font-size: 2rem;
          font-weight: 600;
          color: red;
        }

        svg {
          font-size: 120px;
          color: blue;
        }
      }
    }

    .btn-more {
      display: flex;
      justify-content: center;
      height: 40px;
      margin: 10px 0;

      button {
        width: 320px;
        border: 1px solid var(--blue);
        border-radius: 10px;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--blue);
        background-color: white;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 15px var(--blue);
        }
      }
    }
  }
}
