.wrapper-ContactPage {
  min-height: 682px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, #8afad1, #b7dcff, #fffa96);

  .image-slide {
    position: relative;
    height: 600px;

    span {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 17px 97px;
      font-size: 2.5rem;
      font-weight: 600;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      backdrop-filter: blur(15px);
      color: blue;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-contact {
    padding-top: 20px;
    margin: 0 120px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .diachi {
      height: 500px;
      display: flex;
      padding: 15px 0;

      .address {
        background-color: white;
        border-radius: 8px;
        width: 50%;
        margin-right: 20px;
        padding: 5px 15px;

        .children {
          display: flex;
          height: 68px;
          border-bottom: 1px solid #c8c8c8;

          .left-icons {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              height: 50px;
              width: 50px;
              font-size: 22px;
              border-radius: 50%;
              border: 1px solid #c8c8c8;
              padding: 14px;

              &:hover {
                color: red;
                cursor: pointer;
              }
            }
          }

          .infos {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3px;

            span {
              font-weight: 600;
              font-size: 1.7rem;
            }

            p {
              font-weight: 400;
              font-size: 1.5rem;
            }
          }
        }
      }

      .gg-map {
        flex: 1;
      }
    }

    .gui-thonhtin {
      border: 1px solid darkgray;
      border-radius: 8px;
      margin-bottom: 10px;
      padding: 10px 20px;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        font-size: 2.6rem;
        color: blue;
      }

      p {
        text-align: center;
        margin-bottom: 10px;
      }

      .input-change {
        padding: 10px 0;
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        label {
          width: 150px;
          font-weight: 600;
        }

        input,
        textarea {
          flex: 1;
          border: 1px solid #d9d9d9;
          padding: 4px 11px;
          color: rgba(0, 0, 0, 0.88);
          font-size: 14px;
          line-height: 2;
          border-radius: 8px;

          // css border khi focus vào thẻ input
          &:focus-within {
            outline: none !important;
            border-color: blue;
          }
        }
      }

      .btn-button {
        display: flex;
        justify-content: flex-end;

        button {
          padding: 8px 0;
          margin-top: 8px;
          font-size: 2rem;
          font-weight: 600;
          color: white;
          border-radius: 8px;
          width: 400px;
          align-content: end;
          background-color: rgb(52, 52, 252);

          &:hover {
            cursor: pointer;
            background-color: red;
          }
        }
      }
    }
  }
}
